.dashboard-container {
    display: flex;
    flex-direction: column;
    overflow: unset;

    .dashboard-details {
        height: calc(100vh - 64px - 50px);
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        display: flex;
        gap: 2.5rem;
        flex-wrap: wrap;
        margin: 50px 50px 0 50px;

        .dashboard-charts {
            flex: 0.3;
        }
    }
}