.performance-overview {
    /* 15vw is width of navbar and 140px is margins between components and we want 70% space only */
    min-width: calc(0.7 * (100vw - 15vw - 140px));
    min-height: 400px;
    background-color: var(--color-container-bg);
    border-radius: 10px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header {
        align-items: center;
        .heading {
            font-size: 18px;
            font-weight: 100;
        }
    }
}

.range-selector {
    display: flex;
    background-color: var(--color-app-bg);
    padding: 8px 15px;
    border-radius: 10px;
    .range-button {
        padding: 5px 10px;
        border-radius: 5px;
        color: var(--color-secondary);
        cursor: pointer;
        &.active {
            background: white;
            padding: 5px 12px;
            border-radius: 10px;
            cursor: default;
        }
    }
}