.ui-button {
    height: fit-content;
    &.primary-button {
        background-color: var(--button-primary-bg);
        color: white;
        border: none;
        padding: 5px 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 400;
        &:hover {
            background-color: var(--color-profit);
        }
    }
    &.secondary-button {
        background-color: transparent;
        color: var(--color-secondary);
        border: 1px solid var(--color-secondary);
        padding: 5px 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 400;
        &:hover {
            border-color: var(--color-profit);
            color: var(--color-profit);
        }
    }
}