.quick-actions {
    /* 15vw is width of navbar and 140px is margins between components and we want 70% space only */
    max-width: calc(0.3 * (100vw - 15vw - 140px));
    width: 100%;
    min-height: 250px;
    background-color: var(--color-container-bg);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;

    .top-movers {
        padding: 5px 0;
        .top-movers-header {
            display: flex;
            justify-content: space-between;
        }

        .top-mover {
            display: flex;
            align-items: center;
            img[class="logo"] {
                height: 40px;
                border-radius: 20%;
            }
            .top-mover-details {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .top-mover-stats {
                    .top-mover-change {
                        text-align: right;
                    }
                }
            }
        }
    }
}