.search-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    .search-details {
        padding: 50px 100px 0 100px;
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .top-searches {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .recent-searches {
                min-width: calc(0.3 * (100vw - 15vw - 240px));
                min-height: 130px;
                background-color: var(--color-container-bg);
                border-radius: 10px;

                .search-list {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0;
                    
                    
                    .search-item {
                        padding: 5px 20px;
                        border-radius: 10px;
                        font-size: 14px;
                        &:hover {
                            background-color: var(--color-app-bg);
                            cursor: pointer;
                        }
                    }
                }
            }
            .trending-now {
                min-width: calc(0.3 * (100vw - 15vw - 240px));
                min-height: 130px;
                background-color: var(--color-container-bg);
                border-radius: 10px;

                .search-item {
                    border-radius: 10px;
                    &:hover {
                        background-color: var(--color-app-bg);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
